<section id="{{ include.section.section_id }}" class="bio">
  <h1>
    Hi there, I'm David 👋🏼
  </h1>

  <div class="photos-container">
    <img src="https://image.shutterstock.com/image-vector/set-weapons-8-bit-sword-600w-1637149354.jpg" alt="" width="150">
    <img src="https://image.shutterstock.com/image-vector/set-weapons-8-bit-sword-600w-1637149354.jpg" alt="" width="150">
    <img src="https://image.shutterstock.com/image-vector/set-weapons-8-bit-sword-600w-1637149354.jpg" alt="" width="150">
  </div>

  <h2>
    Here's a little about me 👇🏼
  </h2>

</section>