<section id="{{ include.section.section_id }}" class="social">
  <h2>
    Follow me!
  </h2>

  <section class="social-links">
    <ul>
      <li>
        <a href="https://twitter.com/DavidOjedaL" class="social-link">
          <img src="https://d33wubrfki0l68.cloudfront.net/7cc016f6e88623901eccdb1435fb63bceae8818b/c029a/assets/social-twitter.png" alt="">
          <div>
            <div>Twitter</div>
            <div>Description</div>
          </div>
        </a>
      </li>

      <li>
        <a href="https://twitter.com/DavidOjedaL" class="social-link">
          <img src="https://d33wubrfki0l68.cloudfront.net/7cc016f6e88623901eccdb1435fb63bceae8818b/c029a/assets/social-twitter.png" alt="">
          <div>
            <div>Twitter</div>
            <div>Description</div>
          </div>
        </a>
      </li>
      
    </ul>
  </section>
</section>