a,
button,
.text-link {
    color: inherit;
    text-decoration: none;
    outline: none;
    box-shadow: none;
    border: none;
}

.subtle-link {
    font-size: $tiny;
    font-weight: $bold;
    text-decoration: underline;
    opacity: 0.85;

    &:after {
        display: none;
    }
}
