// colors
$blue: #4285F4;
$gray: rgba(0, 0, 0, .64);
$paper: #F4F4F4;

// typography
$light: 300;
$regular: 400;
$bold: 500;
$bolder: 600;

// fonts
// $roboto: 'Roboto', sans-serif;
$roboto: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";

// sizing
$micro: 8px;
$tiny: 16px;
$small: 24px;
$medium: 40px;
$large: 64px;
$xl: 104px;
$xxl: 270px;
$xxxl: 310px;

// responsive breakpoints
// $mobile: 480px;
$mobile: 580px;
$tablet: 768px;
